@font-face {
    font-family: "Caveat-Regular";
    src: url("../fonts/Caveat-Regular.svg"),
         url("../fonts/Caveat-Regular.eot"),
         url("../fonts/Caveat-Regular.ttf"),
         url("../fonts/Caveat-Regular.woff"),
         url("../fonts/Caveat-Regular.woff2")
}

@font-face {
    font-family: "NotoSerifSC-Regular-Alphabetic";
    src: url("../fonts/NotoSerifSC-Regular-Alphabetic.svg"),
    url("../fonts/NotoSerifSC-Regular-Alphabetic.eot"),
    url("../fonts/NotoSerifSC-Regular-Alphabetic.ttf"),
    url("../fonts/NotoSerifSC-Regular-Alphabetic.woff"),
    url("../fonts/NotoSerifSC-Regular-Alphabetic.woff2")
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.svg"),
    url("../fonts/Roboto-Medium.eot"),
    url("../fonts/Roboto-Medium.ttf"),
    url("../fonts/Roboto-Medium.woff"),
    url("../fonts/Roboto-Medium.woff2")
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.svg"),
    url("../fonts/Roboto-Regular.eot"),
    url("../fonts/Roboto-Regular.ttf"),
    url("../fonts/Roboto-Regular.woff"),
    url("../fonts/Roboto-Regular.woff2")
}

.all {
    position: relative;
    background: url("../img/background/steel-metal.jpg") no-repeat;
    background-size: cover;
    width: 100%;
}
.art__string {
    font-family: "Caveat-Regular", sans-serif;
    font-size: 22px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Roboto-Regular", sans-serif;
    overflow: hidden;
}
.container-other {
    max-width: 1000px;
    background: rgba(48, 48, 48, 0.8);
    padding: .5rem 1rem;
    position: relative;
}
.container__carousel {
    max-width: 1000px;
}
.all:before {
    content: "";
    display: block;
    background: rgba(78, 78, 78, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.head {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
.logo__link {
    display: block;
    background: url("../img/logo/МСР.png") no-repeat;
    background-size: contain;
    width: 9.5rem;
    height: 4.5rem;
}
.ob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0.5rem 2rem;
}
.bl__menu {
    padding: 0;
    width: 95%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}
.bl__menu__list {
    padding: 0;
    cursor: pointer;
    border: 4px solid transparent;
}
.bl__menu__list:hover {
    position: relative;
    border-bottom: 4px solid rgb(59, 59, 59);
    box-sizing: border-box;
}
.bl__menu__list__link,
.st__info__description__link {
    font-family: "Roboto-Medium", sans-serif;
    text-decoration: none;
    color: rgb(61, 83, 44);
}
.bl__menu__list__link {
    font-size: 22px;
}
.bl__main {
    position: relative;
    color: #ffffff;
    z-index: 5;
    font-size: 14px;
}
.bl__main__cr__flex-inner,
.st__info__description-other,
.bl__main__cr-other {
    font-size: 18px;
}
.st__info__title,
.bl__main__cr__title {
    color: rgb(224, 224, 224);
    letter-spacing: 1px;
}
.st__info__title {
    font-size: 32px;
}
.bl__main__cr {
    position: relative;
    color: rgb(162, 162, 162);
    z-index: 5;
}
.st__info__description__link {
    color: rgb(212, 212, 212);
}
.bl__main__cr__title {
    margin: 1rem 0;
    font-size: 18px;
}
.menu {
    background: rgba(255, 255, 255, 0.8);
    max-width: 1000px;
    margin: auto;
}
.container__ps {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bl__button__link {
    position: relative;
    text-decoration: none;
    color: rgb(61, 83, 44);
}
.bl__button__link:before {
    content: "";
    display: block;
    background: url("../img/icon/phone.png") no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 7.5rem;
}
.title {
    display: flex;
    justify-content: space-between;
}
.art__string {
    color: #ffffff;
}
.bl__main__cr__flex {
    display: flex;
    justify-content: space-between;
}
.art__string {
    color: rgb(206, 162, 253);
    font-size: 24px;
    width: 31%;
}
.bl__main__cr-other-fl {
    width: 31%;
}
.art__string-other {
    width: 100%;
    color: rgb(206, 162, 253);
}
.st__info__description-finish {
    color: rgb(206, 162, 253);
    font-family: "Caveat-Regular", sans-serif;
    font-size: 24px;
}

.cr__bl {
    position: relative;
    z-index: 1;
    background: rgba(61, 83, 44, 0.7);
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 2rem 0;
}
.cr__bl__inner {
    background: #ffffff;
    padding: 2rem;
}

.ant-carousel {
    max-width: 810px;
    padding-top: 10px;
}

.ant-carousel-element {
    width: 260px;
    height: 80px;
    margin-right: 1rem;
    text-align: center;
}

/* General styles */
.ant-carousel {
    width: auto;
    position: relative;
}

.ant-carousel-hider {
    overflow: hidden;
}

.ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.ant-carousel-element {
    display: block;
    flex: 0 0 auto;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
}

div.ant-carousel-arrow-left {
    left: -60px;
    top: 35%;
    display: block;
    background: url("../img/icon/left-arrow.png") no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}

div.ant-carousel-arrow-right {
    right: -60px;
    top: 35%;
    display: block;
    background: url("../img/icon/next.png") no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}

div.ant-carousel-arrow-left:hover {
    opacity: 1.0;
}

div.ant-carousel-arrow-right:hover {
    opacity: 1.0;
}

div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -35px;
    z-index: 30;
    text-align: center;
}

span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}
.ant-carousel-element {
    background-color: rgba(255, 255, 255, .9);
    padding: 0;
}
.bl__main__cr-other-fl {
    display: flex;
    flex-direction: column;
    text-align: end;
}
.bl__main__cr-item {
    margin-top: 1rem;
}
.footer {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
    color: rgb(62, 62, 62);
    padding: 1rem 2rem 0.5rem 2rem;
}
.footer__cont {
    display: flex;
    justify-content: space-between;
}
.footer__cont__phone-inner,
.footer__cont__email-inner,
.footer__cont__phone-inner-other {
    position: relative;
    text-decoration: none;
    display: block;
    color: rgb(40, 52, 30);
    text-align: right;
    font-size: 16px;
}
.footer__cont__phone-inner:before {
    content: "";
    display: block;
    background: url("../img/icon/A1.png") no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 8rem;
    top: -5px;
}
.footer__cont__email-inner {
    text-align: right;
}
.footer__cont-reg {
    margin-top: 0.5rem;
}
.bl__main__cr-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.st__info__description {
    width: 55%;
    color: rgb(224, 224, 224);
    letter-spacing: 1px;
}
.st__info__description-italic {
    font-style: italic;
    font-size: 18px;
    width: 60%;
}
.st__info__description-other {
    letter-spacing: 1px;
}
.bl__main__cr-other {
    width: 65%;
}
.st__info__description-finish {
    width: 100%;
    font-size: 24px;
}
.bl__main__cr__flex-inner {
    width: 50%;
}
.st__info__description-other {
    width: 100%;
    color: rgb(224, 224, 224);
}
.footer__cont__phone-inner-other:before {
    content: "";
    display: block;
    background: url("../img/icon/MTS.png") no-repeat;
    background-size: contain;
    width: 3.5rem;
    height: 2rem;
    position: absolute;
    right: 8rem;
    top: 3px;
}
.footer__cont__phone-inner-other {
    margin-top: 0.5rem;
}
.footer__cont__email-inner {
    margin-top: 0.5rem;
}
.footer__cont__email {
    color: #000000;
}
.footer__cont__text {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    color: #ffffff;
}
.st__info__description-other__size {
    font-size: 24px;
    color: rgb(206, 162, 253);
    font-family: "Caveat-Regular", sans-serif;
}
.footer__cont__phone {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.bl__button {
    padding: 1rem 0;
}
.st__info__description__pr {
    width: 100%;
}
.container-other-main {
    background: rgba(48, 48, 48, 0.85);
}
.ant__jindal__stainless,
.ant__outokumpu,
.ant__technoTub,
.ant__akroni,
.ant__bns,
.ant__VSMZ,
.ant__dneprospetsstal,
.ant__VMK,
.ant__ZLT,
.ant__KMP,
.ant__MRCH,
.ant__MECH,
.ant__NPP,
.ant__NHTS,
.ant__Oniks,
.ant__PTRS,
.ant__PNTZ,
.ant__Reckom,
.ant__Rusinok,
.ant__Siv,
.ant__TMK,
.ant__Fort,
.ant__CHTPZ,
.ant__ELEKTR,
.ant__ONZ,
.ant__ARZ,
.ant__RMZ,
.ant__GRMA,
.ant__BELZ,
.ant__BELC,
.ant__BELOB,
.ant__BELHim,
.ant__BELColMet,
.ant__BELENRE,
.ant__BMZ,
.ant__BRSGAZ,
.ant__BRSENRG,
.ant__VTBENRG,
.ant__VLMEET,
.ant__GMZ,
.ant__HOMLHIM,
.ant__HOMLENG,
.ant__ZHSZ,
.ant__red,
.ant__leh,
.ant__car,
.ant__MZKT,
.ant__minsk,
.ant__minsk__prom,
.ant__minsk__energ,
.ant__minsk__mmz,
.ant__minsk__mzlt,
.ant__minsk__mzrs,
.ant__minsk__mpz,
.ant__nft,
.ant__npo,
.ant__ptm,
.ant__svn,
.ant__spart,
.ant__cem {
    height: 100%;
}
.ant__jindal__stainless {
    background: url("../img/Производители нерж/Jindal stainless.png") no-repeat center center;
    background-size: cover;
}
.ant__outokumpu {
    background: url("../img/Производители нерж/Outokumpu.png") no-repeat center center;
    background-size: cover;
}
.ant__technoTub {
    background: url("../img/Производители нерж/TechnoTub.png") no-repeat center center;
    background-size: contain;
}
.ant__akroni {
    background: url("../img/Производители нерж/Акрони.png") no-repeat center center;
    background-size: contain;
}
.ant__bns {
    background: url("../img/Производители нерж/БНС.png") no-repeat center center;
    background-size: contain;
}
.ant__VSMZ {
    background: url("../img/Производители нерж/ВСМЗ.png") no-repeat center center;
    background-size: 80%;
    padding: 0 2px;
}
.ant__dneprospetsstal {
    background: url("../img/Производители нерж/Днепроспецсталь.png") no-repeat center center;
    background-size: contain;
}
.ant__VMK {
    background: url("../img/Производители нерж/ВМК.png") no-repeat center center;
    background-size: contain;
}
.ant__ZLT {
    background: url("../img/Производители нерж/златоустовский металлургический завод.png") no-repeat center center;
    background-size: contain;
}

.ant__KMP {
    background: url("../img/Производители нерж/Комплект 92.png") no-repeat center center;
    background-size: contain;
}
.ant__MRCH {
    background: url("../img/Производители нерж/Марчегаглия.png") no-repeat center center;
    background-size: contain;
}
.ant__MECH {
    background: url("../img/Производители нерж/мечел.png") no-repeat center center;
    background-size: contain;
}
.ant__NPP {
    background: url("../img/Производители нерж/НПП Стан.png") no-repeat center center;
    background-size: contain;
}
.ant-carousel-element-bg {
    background: none;
}

.ant__NHTS {
    background: url("../img/Производители нерж/НХТС.png") no-repeat center center;
    background-size: contain;
}
.ant__Oniks {
    background: url("../img/Производители нерж/Оникс.png") no-repeat center center;
    background-size: contain;
}
.ant__PTRS {
    background: url("../img/Производители нерж/Петросталь.png") no-repeat center center;
    background-size: contain;
}
.ant__PNTZ {
    background: url("../img/Производители нерж/ПНТЗ.png") no-repeat center center;
    background-size: contain;
}
.ant__Reckom {
    background: url("../img/Производители нерж/Реком.png") no-repeat center center;
    background-size: contain;
}
.ant__Rusinok {
    background: url("../img/Производители нерж/Русинокс.png") no-repeat center center;
    background-size: contain;
}
.ant__Siv {
    background: url("../img/Производители нерж/Сиверский метизный завод.png") no-repeat center center;
    background-size: contain;
}
.ant__TMK {
    background: url("../img/Производители нерж/ТМК ВТЗ.png") no-repeat center center;
    background-size: contain;
}
.ant__Fort {
    background: url("../img/Производители нерж/Форт.png") no-repeat center center;
    background-size: contain;
}
.ant__CHTPZ {
    background: url("../img/Производители нерж/ЧТПЗ.png") no-repeat center center;
    background-size: contain;
}
.ant__ELEKTR {
    background: url("../img/Производители нерж/электросталь.png") no-repeat center center;
    background-size: contain;
}
.ant__ONZ {
    background: url("../img/наши клиенты/140 ремонтный завод.png") no-repeat center center;
    background-size: contain;
}
.ant__ARZ {
    background: url("../img/наши клиенты/558 арз.png") no-repeat center center;
    background-size: contain;
}
.ant__RMZ {
    background: url("../img/наши клиенты/rmz.jpg") no-repeat center center;
    background-size: contain;
}
.ant__GRMA {
    background: url("../img/наши клиенты/бабушкина крынка.png") no-repeat center center;
    background-size: contain;
}
.ant__BELZ {
    background: url("../img/наши клиенты/белаз.png") no-repeat center center;
    background-size: contain;
}
.ant__BELC {
    background: url("../img/наши клиенты/беларуськалий.jpg") no-repeat center center;
    background-size: contain;
}
.ant__BELOB {
    background: url("../img/наши клиенты/белорусские обои.png") no-repeat center center;
    background-size: contain;
}
.ant__BELHim {
    background: url("../img/наши клиенты/белхим.png") no-repeat center center;
    background-size: contain;
}
.ant__BELColMet {
    background: url("../img/наши клиенты/белцветмет.png") no-repeat center center;
    background-size: contain;
}
.ant__BELENRE {
    background: url("../img/наши клиенты/белэнергоремналадка.jpg") no-repeat center center;
    background-size: contain;
}
.ant__BMZ {
    background: url("../img/наши клиенты/БМЗ.jpg") no-repeat center center;
    background-size: contain;
}
.ant__BRSGAZ {
    background: url("../img/наши клиенты/брестгазоаппарат.jpg") no-repeat center center;
    background-size: contain;
}
.ant__BRSENRG {
    background: url("../img/наши клиенты/брестэнерго.jpg") no-repeat center center;
    background-size: contain;
}
.ant__VTBENRG {
    background: url("../img/наши клиенты/витебскэнерго.jpg") no-repeat center center;
    background-size: contain;
}
.ant__VLMEET {
    background: url("../img/наши клиенты/волковысский мясокомбинат.jpg") no-repeat center center;
    background-size: contain;
}
.ant__GMZ {
    background: url("../img/наши клиенты/ГМЗ.jpg") no-repeat center center;
    background-size: contain;
}
.ant__HOMLHIM {
    background: url("../img/наши клиенты/Гомельский химический завод.png") no-repeat center center;
    background-size: contain;
}
.ant__HOMLENG {
    background: url("../img/наши клиенты/гомельэнерго.jpg") no-repeat center center;
    background-size: contain;
}
.ant__ZHSZ {
    background: url("../img/наши клиенты/ЖСЗ.gif") no-repeat center center;
    background-size: contain;
}
.ant__red {
    background: url("../img/наши клиенты/красный пищевик.jpg") no-repeat center center;
    background-size: contain;
}
.ant__leh {
    background: url("../img/наши клиенты/легмаш.jpg") no-repeat center center;
    background-size: contain;
}
.ant__car {
    background: url("../img/наши клиенты/машпищепрод.jpg") no-repeat center center;
    background-size: contain;
}
.ant__MZKT {
    background: url("../img/наши клиенты/мзш.jpg") no-repeat center center;
    background-size: contain;
}

.ant-carousel-element-bg-oth {
    background: #fff;
}

.ant__minsk {
    background: url("../img/наши клиенты/минск кристалл.jpg") no-repeat center center;
    background-size: contain;
}

.ant__minsk__prom {
    background: url("../img/наши клиенты/минскхлебпром.jpg") no-repeat center center;
    background-size: contain;
}

.ant__minsk__energ {
    background: url("../img/наши клиенты/минскэнерго.jpg") no-repeat center center;
    background-size: contain;
}

.ant__minsk__mmz {
    background: url("../img/наши клиенты/ммз.jpg") no-repeat center center;
    background-size: contain;
}

.ant__minsk__mzlt {
    background: url("../img/наши клиенты/можелит.jpg") no-repeat center center;
    background-size: contain;
}

.ant__minsk__mzrs {
    background: url("../img/наши клиенты/Мозырский_НПЗ2.jpg") no-repeat center center;
    background-size: contain;
}
.ant__minsk__mpz {
    background: url("../img/наши клиенты/мпз.jpg") no-repeat center center;
    background-size: contain;
}
.ant__nft {
    background: url("../img/наши клиенты/нафтан.jpg") no-repeat center center;
    background-size: contain;
}
.ant__npo {
    background: url("../img/наши клиенты/нпо центр.jpg") no-repeat center center;
    background-size: contain;
}
.ant__ptm {
    background: url("../img/наши клиенты/птм.jpg") no-repeat center center;
    background-size: contain;
}


@media screen and (max-width: 820px) {
    .ant-carousel-hider {
        max-width: 635px;
    }
    .bl__main__cr-other-fl {
        width: 25%;
    }
    .ant-carousel-dots {
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .title {
        display: block;
    }
    .art__string {
        width: 100%;
        text-align: end;
    }
    .bl__main__cr__flex {
        display: block;
    }
    .ant-carousel-hider {
        max-width: 415px;
    }
    .bl__main__cr-item {
        display: block;
    }
    .bl__main__cr-other-fl,
    .bl__main__cr-other,
    .st__info__description {
        width: 100%;
    }
    .bl__menu {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .bl__menu__list {
        margin: 0 0.5rem;
    }
    .ob {
        display: block;
    }
    .footer__cont__phone-inner,
    .footer__cont__email-inner,
    .footer__cont__phone-inner-other {
        text-align: center;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .footer__cont__email-inner {
        left: -26px;
    }
    .bl__main__cr__flex-inner {
        width: 100%;
    }
    span.ant-dot {
        margin: 5px 4px;
    }
    .ant-carousel-hider {
        max-width: 215px;
    }
    .title__main__icon:before {
        left: -10%;
    }
    .information__list-other {
        max-width: 100%;
    }
    .footer__cont__phone-inner:before {
        left: -10%;
    }
    .footer__cont__phone-inner-other:before  {
        left: -25%;
    }
    .bl__button {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 440px) {
    .footer__cont__phone {
        display: block;
    }
    .footer__phone__ot {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 320px) {
    .footer__cont__phone-inner:before {
        left: 0;
    }
    .footer__cont__phone-inner-other:before {
        left: -15%;
    }
    .footer__cont-reg {
        font-size: 14px;
    }
    .information__title {
        width: 50%;
    }
    .title__main__icon:before {
        width: 25px;
        height: 25px;
    }
    .footer__phone {
        padding: 1rem 2rem 0.5rem 2rem;
    }
}
@media screen and (max-width: 280px) {
    .footer {
        padding: 1rem .5rem 0.5rem .5rem;
    }
    .footer__phone {
        padding: 1rem 0 .5rem 0;
    }
    .footer__cont__phone-inner:before {
        left: 14%;
    }
    .footer__cont__phone-inner-other:before {
        left: 4%;
    }
    .st__info__description-finish:first-child {
        display: none;
    }
    .st__info__description-finish:nth-child(2) {
        display: none;
    }
    div.ant-carousel-arrow-right {
        right: -47px;
    }
    div.ant-carousel-arrow-left {
        left: -45px;
    }
    .ant-carousel-hider {
        max-width: 201px;
    }
    .ob {
        padding: 1rem .5rem 0.5rem .5rem;
    }
}